################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/realty-api-practice.slnx/FileContentIndex/030dcc16-24c1-42ce-8b6b-7aac9ccd93c6.vsidx
/.vs/realty-api-practice.slnx/FileContentIndex/c8a00a04-e704-4adc-a2cd-dfb06dffa445.vsidx
/.vs/realty-api-practice.slnx/FileContentIndex/e7f1ec58-c371-46f6-b30c-819edfed4f6e.vsidx
/.vs/realty-api-practice.slnx/FileContentIndex
